<%- include("header") -%>

<h2>This is about page</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis eveniet ducimus exercitationem, eius quaerat nulla quisquam repellat sunt esse amet nemo cumque aut?</p>


<%- include("footer") -%>